.searchb {
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  input {
    font-size: 20px;
    width: 300px;
    height: 35px;
  }
  
  
  .searchb button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    margin-left: 30px;
  }
  
  .searchb button:hover {
    background-color: #3e8e41;
    

  }
  
  